streamlit
gTTS
langdetect
transformers
torch
numpy
langchain==0.1.16
groq
sounddevice
wavio
SpeechRecognition
PyPDF2
pdf2image
pytesseract
chromadb
sentencepiece
protobuf==3.20.3
deep-translator
langdetect